In [2]:
import pandas as pd


data = pd.read_csv('employment-data.csv')

In [5]:
data.head(5)

,Serial Number,Name of the Candidate,Resume ID,Postal Address,Telephone No.,Mobile No.,Date of Birth,Email,Work Experience,Resume Title,Current Location,Preferred Location,Current Employer,Current Designation,Annual Salary,U.G. Course,P. G. Course,Post P. G. Course,Last Active Date,Comment 1
0,1,eswaran.k.,2202ca2e0bf1584674,"1/403,NORTH STREET PALLAPATTI,SIVAKSI,VIRUDHU ...",91 44,8.908314e+09,'24 Sep 1984,eswaranke05@gmail.com,4 Year(s),power engineer,Chennai,Anywhere in South India,"JINDAL STAINLESS LIMITED,ODISHA",ASSISTENT ENGINEER,4.3,Diploma,P.D.C.,NaN,'08 Sep 2012,'08 Sep 2012
1,2,Raj,4ab9edcf1d929e2204,"21/10, Saradambal street, \r\r\nReddykuppam Ro...",NaN,9.994844e+09,'04 Feb 1986,m.raj.soft@gmail.com,4 Year(s),Mainframe,Chennai,"Anywhere in South India, Anywhere in East Indi...",IBM INDIA PRIVATE LIMITED,SYSTEM OPERATION SENIOR SPECIALIST,5.45,B.Tech/B.E.,NaN,NaN,'19 Sep 2012,'19 Sep 2012
2,3,arun kumar.v,00d88e536f048e2a42,"V. Arun Kumar,\r\r\n4/283, Malamanur,\r\r\nPot...",NaN,9.500445e+09,'12 Apr 1989,arunpgp@yahoo.co.in,2 Year(s),B.E(ECE) Working as a Maintenance Engineer,Salem,"Bangalore, Chennai, Chennai",Kamachi Sponge and Power Corporation Limited,Electrical Maintenance Engineer,2,B.Tech/B.E.,NaN,NaN,'21 Sep 2012,'21 Sep 2012
3,4,dhayalan,5b687d5a11bce58812,"Permanent Address : S/o.K.Sundaresan,Ariyalur",44,9.840720e+09,'21 May 1987,dhayalan8@yahoo.com,4 Year(s),Electrical Engineer-Diploma(EEE)-4Yrs Exp. in ...,Chennai,NaN,Akash Engineering,Site Supervisor Electrical,2.4,Diploma,NaN,NaN,'08 Sep 2012,'08 Sep 2012
4,5,SUMAN ROY,6ab3d45252407fb581,"somu_somu011@yahoo.co.in,Mysore",91 44 08213293121,9.345269e+09,'01 Feb 1983,somu_somu011@yahoo.co.in,4 Year(s),BE-MECH-4 yrs exp,Chennai,Anywhere in Northern India,BHEL,ENGINEER,10,B.Tech/B.E.,NaN,NaN,'08 Sep 2012,'08 Sep 2012

In [12]:
data.isnull().sum(axis=1)

0        1
1        3
2        3
3        3
4        2
        ..
45558    3
45559    1
45560    2
45561    3
45562    4
Length: 45563, dtype: int64

In [11]:
data.notnull().sum(axis=1)

0        19
1        17
2        17
3        17
4        18
         ..
45558    17
45559    19
45560    18
45561    17
45562    16
Length: 45563, dtype: int64

In [23]:
round((data.isnull().sum() / data.shape[0]) * 100)

Serial Number             0.0
Name of the Candidate     0.0
Resume ID                 0.0
Postal Address            0.0
Telephone No.            59.0
Mobile No.                0.0
Date of Birth            10.0
Email                     0.0
Work Experience           0.0
Resume Title              0.0
Current Location          0.0
Preferred Location       11.0
Current Employer         41.0
Current Designation      41.0
Annual Salary             1.0
U.G. Course               0.0
P. G. Course             85.0
Post P. G. Course        97.0
Last Active Date          0.0
Comment 1                 0.0
dtype: float64

In [25]:
data = data.drop('Post P. G. Course',axis=1)

In [30]:
data.isnull().sum()

Serial Number                0
Name of the Candidate       39
Resume ID                    0
Postal Address               0
Telephone No.            26954
Mobile No.                  38
Date of Birth             4655
Email                        0
Work Experience              0
Resume Title                 1
Current Location             3
Preferred Location        4872
Current Employer         18657
Current Designation      18755
Annual Salary              519
U.G. Course                  0
P. G. Course             38745
Last Active Date             0
Comment 1                    0
dtype: int64

In [44]:
miss = data[data['Current Location'].isnull()].index.tolist()

In [45]:
data.drop(miss,axis=0)

,Serial Number,Name of the Candidate,Resume ID,Postal Address,Telephone No.,Mobile No.,Date of Birth,Email,Work Experience,Resume Title,Current Location,Preferred Location,Current Employer,Current Designation,Annual Salary,U.G. Course,P. G. Course,Last Active Date,Comment 1
0,1,eswaran.k.,2202ca2e0bf1584674,"1/403,NORTH STREET PALLAPATTI,SIVAKSI,VIRUDHU ...",91 44,8.908314e+09,'24 Sep 1984,eswaranke05@gmail.com,4 Year(s),power engineer,Chennai,Anywhere in South India,"JINDAL STAINLESS LIMITED,ODISHA",ASSISTENT ENGINEER,4.3,Diploma,P.D.C.,'08 Sep 2012,'08 Sep 2012
1,2,Raj,4ab9edcf1d929e2204,"21/10, Saradambal street, \r\r\nReddykuppam Ro...",NaN,9.994844e+09,'04 Feb 1986,m.raj.soft@gmail.com,4 Year(s),Mainframe,Chennai,"Anywhere in South India, Anywhere in East Indi...",IBM INDIA PRIVATE LIMITED,SYSTEM OPERATION SENIOR SPECIALIST,5.45,B.Tech/B.E.,NaN,'19 Sep 2012,'19 Sep 2012
2,3,arun kumar.v,00d88e536f048e2a42,"V. Arun Kumar,\r\r\n4/283, Malamanur,\r\r\nPot...",NaN,9.500445e+09,'12 Apr 1989,arunpgp@yahoo.co.in,2 Year(s),B.E(ECE) Working as a Maintenance Engineer,Salem,"Bangalore, Chennai, Chennai",Kamachi Sponge and Power Corporation Limited,Electrical Maintenance Engineer,2,B.Tech/B.E.,NaN,'21 Sep 2012,'21 Sep 2012
3,4,dhayalan,5b687d5a11bce58812,"Permanent Address : S/o.K.Sundaresan,Ariyalur",44,9.840720e+09,'21 May 1987,dhayalan8@yahoo.com,4 Year(s),Electrical Engineer-Diploma(EEE)-4Yrs Exp. in ...,Chennai,NaN,Akash Engineering,Site Supervisor Electrical,2.4,Diploma,NaN,'08 Sep 2012,'08 Sep 2012
4,5,SUMAN ROY,6ab3d45252407fb581,"somu_somu011@yahoo.co.in,Mysore",91 44 08213293121,9.345269e+09,'01 Feb 1983,somu_somu011@yahoo.co.in,4 Year(s),BE-MECH-4 yrs exp,Chennai,Anywhere in Northern India,BHEL,ENGINEER,10,B.Tech/B.E.,NaN,'08 Sep 2012,'08 Sep 2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45558,496,Mahesh.V,757c5c292fe08cce18,"104A,middle st,thadur(v&p),tiruttani(t.K),thir...",NaN,9.894827e+09,'29 May 1989,hmmmhere@gmail.com,1 Year(s),"PHP, MySQL, JavaScript,HTML and CSS",Chennai,"Anywhere in Northern India, Anywhere in South ...",Indus Net Technologies,Trainee Web Developer,0.8,B.Tech/B.E.,NaN,'02 Oct 2012,'02 Oct 2012
45559,497,M.KANNAN,36d9f4d25f74900863,"yuvikannan@gmail.com,salem",91,9.952781e+09,'09 May 1988,yuvikannan@gmail.com,4 Year(s),SAFETY ENGINEER - DME WITH DIS AND 4 YEARS EXP...,Trichy,Anywhere in South India,Rane TRW Steering Systems Limited,Deputy Executive- Safety,2.85,Diploma,Diploma in Industrial Safety,'02 Oct 2012,'02 Oct 2012
45560,498,T.SELVAGANESH,59bb8fb32b43bee846,"1/98-1,karpagam nagar, saraboji agraharam,,che...",91 44 22743591,9.942171e+09,'16 Jun 1986,Thiyagaganesh@yahoo.co.in,5 Year(s),design engineer with 4+ years experience,Chennai,"Bangalore, Chennai",Triad Software Pvt ltd,Design Engineer Executive,4,B.Tech/B.E.,NaN,'02 Oct 2012,'02 Oct 2012
45561,499,Karpagam vallinayagam,545e3ffd2ad51b2e10,"2/316,ThiruValluar Street,Venkateswara Nagar,S...",NaN,9.965714e+09,'01 Mar 1989,kanavumani@gmail.com,4 Year(s),D.EEE with 4 Years Experience in Car Body Prod...,Chennai,"Anywhere in South India, Anywhere in East Indi...",Ford India Private Limited,Assistant Technical Editor,2.2,Diploma,NaN,'02 Oct 2012,'02 Oct 2012
45562,500,srinivasan,6cfba6f11201f3a161,"A-14,Nangavaram Cauveri Apartments,\r\r\nWe...",91 431 2709103,9.014708e+09,'15 Jun 1987,srinimce@live.com,3 Year(s),3+ Years of Experience working with major Ther...,Chennai,Chennai,NaN,NaN,2.4,B.Tech/B.E.,NaN,'02 Oct 2012,'02 Oct 2012

In [29]:
data.shape

(45563, 19)