In [8]:
import pandas as pd
import numpy as np


data = pd.read_csv('loan.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
pd.DataFrame(data.columns)

                                  0
0                                id
1                         member_id
2                         loan_amnt
3                       funded_amnt
4                   funded_amnt_inv
5                              term
6                          int_rate
7                       installment
8                             grade
9                         sub_grade
10                        emp_title
11                       emp_length
12                   home_ownership
13                       annual_inc
14              verification_status
15                          issue_d
16                      loan_status
17                       pymnt_plan
18                              url
19                             desc
20                          purpose
21                            title
22                         zip_code
23                       addr_state
24                              dti
25                      delinq_2yrs
26                 earliest_cr_line
27                   inq_last_6mths
28           mths_since_last_delinq
29           mths_since_last_record
..                              ...
81             mo_sin_old_rev_tl_op
82            mo_sin_rcnt_rev_tl_op
83                   mo_sin_rcnt_tl
84                         mort_acc
85             mths_since_recent_bc
86         mths_since_recent_bc_dlq
87            mths_since_recent_inq
88   mths_since_recent_revol_delinq
89            num_accts_ever_120_pd
90                   num_actv_bc_tl
91                  num_actv_rev_tl
92                      num_bc_sats
93                        num_bc_tl
94                        num_il_tl
95                    num_op_rev_tl
96                    num_rev_accts
97              num_rev_tl_bal_gt_0
98                         num_sats
99                 num_tl_120dpd_2m
100                    num_tl_30dpd
101              num_tl_90g_dpd_24m
102              num_tl_op_past_12m
103                  pct_tl_nvr_dlq
104                percent_bc_gt_75
105            pub_rec_bankruptcies
106                       tax_liens
107                 tot_hi_cred_lim
108               total_bal_ex_mort
109                  total_bc_limit
110      total_il_high_credit_limit

[111 rows x 1 columns]